[submodule "secrets"]
	path = secrets
	url = github:appaquet/dotfiles-secrets
	branch = main
	update = rebase
[submodule "shared-dotfiles"]
	path = humanfirst-dots
	url = git@github.com:zia-ai/shared-dotfiles.git
[submodule "dotblip"]
	path = dotblip
	url = github:appaquet/dotblip
