[submodule "secrets"]
	path = secrets
	url = git@github.com:appaquet/dotfiles-secrets.git
	branch = main
	update = rebase
[submodule "shared-dotfiles"]
	path = humanfirst-dots
	url = git@github.com:zia-ai/shared-dotfiles.git
[submodule "ha-lab"]
	path = ha-lab
	url = git@github.com:appaquet/ha-lab.git
[submodule "dotblip"]
	path = dotblip
	url = git@github.com:appaquet/dotblip.git
