name: "Push checker"

on:
  pull_request:
  push:

jobs:
  fmt_check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: DeterminateSystems/nix-installer-action@main
      with:
        extra-conf: |
          experimental-features = nix-command flakes
          access-tokens = github.com=${{ secrets.GH_PAT }}
        github-token: ${{ secrets.GH_PAT }}
    - name: Add & update nixpkgs channel
      run: | 
        nix-channel --add https://nixos.org/channels/nixos-24.05 nixpkgs
        nix-channel --update nixpkgs
    - name: Install formatter & format
      run: | 
        nix profile install nixpkgs#nixfmt-rfc-style
        ./x fmt --check

  home_check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        machine: ["appaquet@mbpapp", "appaquet@deskapp", "appaquet@servapp", "appaquet@piapp"]
    steps:
    - uses: actions/checkout@v4
    - uses: DeterminateSystems/nix-installer-action@main
      with:
        extra-conf: |
          experimental-features = nix-command flakes
          access-tokens = github.com=${{ secrets.GH_PAT }}
        github-token: ${{ secrets.GH_PAT }}
    - run: MACHINE_KEY="${{ matrix.machine }}" ./x home check

  darwin_check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        machine: ["appaquet@mbpapp"]
    steps:
    - uses: actions/checkout@v4
    - uses: DeterminateSystems/nix-installer-action@main
      with:
        extra-conf: |
          experimental-features = nix-command flakes
          access-tokens = github.com=${{ secrets.GH_PAT }}
        github-token: ${{ secrets.GH_PAT }}
    - run: MACHINE_KEY="${{ matrix.machine }}" ./x darwin check

  nixos_check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        machine: ["appaquet@deskapp", "appaquet@servapp", "appaquet@piapp"]
    steps:
    - uses: actions/checkout@v4
    - uses: DeterminateSystems/nix-installer-action@main
      with:
        extra-conf: |
          experimental-features = nix-command flakes
          access-tokens = github.com=${{ secrets.GH_PAT }}
        github-token: ${{ secrets.GH_PAT }}
    - name: Check
      run:
        MACHINE_KEY="${{ matrix.machine }}" ./x nixos check
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
