name: "Flake updater"

on:
  schedule:
    - cron: "0 7 * * *" # UTC, 3AM EST
  workflow_dispatch: # allow manual triggering
  # pull_request:
  # push:

jobs:
  update_homes:
    strategy:
      matrix:
        pair:
          - host: "deskapp"
            os: ubuntu-latest
          - host: "servapp"
            os: ubuntu-latest
          - host: "mbpapp"
            os: macos-latest
    runs-on: ${{ matrix.pair.os }}
    timeout-minutes: 60 # because sometimes it gets stuck
    steps:
      - uses: actions/checkout@v4

      - name: Free up disk space
        if: runner.os == 'Linux'
        run: |
          # See https://carlosbecker.com/posts/github-actions-disk-space/
          df -h
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL
          sudo docker system prune -a -f
          df -h

      - uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            experimental-features = nix-command flakes fetch-closure
            access-tokens = github.com=${{ secrets.GH_PAT }}
            substituters = https://cache.nixos.org https://cache.nixos.org/ https://nix-community.cachix.org https://nixos-raspberrypi.cachix.org https://numtide.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= nixos-raspberrypi.cachix.org-1:4iMO9LXa8BqhU+Rpg6LQKiGa2lsNh/j2oiYLNOQ5sPI= numtide.cachix.org-1:2ps1kLBUWjxIneOy1Ik6cQjb41X0iXVXeHigGmycPPE=
          github-token: ${{ secrets.GH_PAT }}

      - name: Setup Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Add & update nixpkgs channel
        run: |
          nix-channel --add https://nixos.org/channels/nixos-unstable nixpkgs
          nix-channel --update nixpkgs
          nix profile install nixpkgs#nvd

      - name: Building Home Manager baseline...
        run: |
          set -xe
          HOST="${{ matrix.pair.host }}" ./x home build --cores 0 --max-jobs 1 --print-build-logs --verbose 2>&1 | tee build.log
          mv result result-before

      - name: Update flakes
        run: |
          set -xe
          nix flake update

      - name: Building Home Manager new
        run: |
          set -xe
          HOST="${{ matrix.pair.host }}" ./x home build --cores 0 --max-jobs 1 --print-build-logs --verbose 2>&1 | tee build-new.log
          mv result result-after

      - name: Diffing...
        run: |
          set -xe
          nvd diff result-before result-after | tee diff

          # Only include if significant changes. Ex base output:
          #   <<< result-before
          #   >>> result-after
          #   Version changes:
          #   Closure size: 716 -> 716 (10 paths added, 10 paths removed, delta +0, disk usage +287.0KiB).
          NB_CHANGES=$(grep -vcE "(Version changes|No version|Closure size|<<<|>>>)" diff || true)
          if [ $NB_CHANGES -gt 0 ]; then
            echo "Changes for ${{ matrix.pair.host }} home:" > diff-out
            cat diff >> diff-out
            echo -n " " >> diff-out
            echo -n "------------------" >> diff-out
            cat diff-out > "${{ matrix.pair.host }}-home-diff"
          fi

      - name: Add diff as artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ matrix.pair.host }}-home-diff"
          path: "${{ matrix.pair.host }}-home-diff"
          if-no-files-found: ignore # no files means no diff

      - name: Add flake.lock
        uses: actions/upload-artifact@v4
        with:
          name: "${{ matrix.pair.host }}-flake"
          path: "flake.lock"

  update_nixos:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        host: ["deskapp", "servapp"]
    steps:
      - uses: actions/checkout@v4

      - name: Free up disk space
        if: runner.os == 'Linux'
        run: |
          # See https://carlosbecker.com/posts/github-actions-disk-space/
          df -h
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL
          sudo docker system prune -a -f
          df -h

      - uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GH_PAT }}
          github-token: ${{ secrets.GH_PAT }}

      - name: Add & update nixpkgs channel
        run: |
          nix-channel --add https://nixos.org/channels/nixos-unstable nixpkgs
          nix-channel --update nixpkgs
          nix profile install nixpkgs#nixos-rebuild nixpkgs#nvd

      - name: Building NixOS baseline
        run: |
          set -xe
          HOST="${{ matrix.host }}" ./x nixos build --cores 0 --max-jobs 1 # limiting concurrency to prevent freezes
          nix-collect-garbage # free up intermediary, since we're low on disk on gha
          mv result result-before

      - name: Update flakes
        run: |
          set -xe
          nix flake update

      - name: Building NixOS new
        run: |
          set -xe
          HOST="${{ matrix.host }}" ./x nixos build --cores 0 --max-jobs 1 # limiting concurrency to prevent freezes
          mv result result-after

      - name: Diffing...
        run: |
          set -xe
          nvd diff result-before result-after | tee diff

          # Only include if significant changes. Ex base output:
          #   <<< result-before
          #   >>> result-after
          #   Version changes:
          #   [U.]  #1  nixos-system-deskapp  24.05.20240928.fbca5e7 -> 24.05.20240930.1719f27
          #   Closure size: 1637 -> 1637 (29 paths added, 29 paths removed, delta +0, disk usage +7.5KiB).
          NB_CHANGES=$(grep -vcE "(Version changes|No version|nixos-system|Closure size|<<<|>>>)" diff || true)
          if [ $NB_CHANGES -gt 0 ]; then
            echo "Changes for ${{ matrix.host }} nixos:" > diff-out
            cat diff >> diff-out
            echo -n " " >> diff-out
            echo -n "------------------" >> diff-out
            cat diff-out > "${{ matrix.host }}-nixos-diff"
          fi

      - name: Add as artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ matrix.host }}-nixos-diff"
          path: "${{ matrix.host }}-nixos-diff"
          if-no-files-found: ignore # no files means no diff

  update_darwin:
    runs-on: macos-latest
    strategy:
      matrix:
        host: ["mbpapp"]
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GH_PAT }}
          github-token: ${{ secrets.GH_PAT }}

      - name: Add & update nixpkgs channel
        run: |
          nix-channel --add https://nixos.org/channels/nixos-unstable nixpkgs
          nix-channel --update nixpkgs
          nix profile install nixpkgs#nvd

      - name: Building baseline...
        run: |
          set -xe
          HOST="${{ matrix.host }}" ./x darwin build
          mv result darwin-result-before

      - name: Update flakes
        run: |
          set -xe
          nix flake update

      - name: Building new...
        run: |
          set -xe
          HOST="${{ matrix.host }}" ./x darwin build
          mv result darwin-result-after

      - name: Diffing...
        run: |
          set -xe
          nvd diff ./darwin-result-before ./darwin-result-after | tee diff

          # Only include if significant changes. Ex base output:
          #   <<< result-before
          #   >>> result-after
          #   Version changes:
          #   [C.]  #1  darwin-system  24.05pre-git+darwin4.4b43b68, 24.05pre-git+darwin5 -> 24.05pre-git+darwin4.f61d5f2, 24.05pre-git+darwin5
          #   Closure size: 169 -> 169 (10 paths added, 10 paths removed, delta +0, disk usage +3.7KiB).
          NB_CHANGES=$(grep -vcE "(Version changes|No version|darwin-system|Closure size|<<<|>>>)" diff || true)
          if [ $NB_CHANGES -gt 0 ]; then
            echo "Changes for ${{ matrix.host }} darwin:" > diff-out
            cat diff >> diff-out
            echo -n " " >> diff-out
            echo -n "------------------" >> diff-out
            cat diff-out > "${{ matrix.host }}-darwin-diff"
          fi

      - name: Add as artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ matrix.host }}-darwin-diff"
          path: "${{ matrix.host }}-darwin-diff"
          if-no-files-found: ignore # no files means no diff

  # test_incoming:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Create PR
  #       run: |
  #         echo "something" > something-diff
  #         echo -n " " >> flake.lock
  #     - name: Add as artifact
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: diff
  #         path: something-diff
  #         if-no-files-found: ignore # no files means no diff
  #     - name: Add as artifact
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: flake.lock
  #         path: flake.lock

  create_pr:
    runs-on: ubuntu-latest
    needs: [update_homes, update_nixos, update_darwin]
    # needs: [test_incoming]
    steps:
      - uses: actions/checkout@v4

      - name: Fetch all artifacts
        uses: actions/download-artifact@v4
        with:
          path: diffs

      - name: Create PR
        run: |
          set -xe
          BRANCH_NAME="update-flake"

          # Close existing PR
          gh pr close $BRANCH_NAME --delete-branch || true

          mkdir -p diffs # ensure we don't fail if no diffs
          ls -la diffs/

          find diffs -type f -name "*-diff" -exec cat {} \; > all-diffs
          if [ -z "$(cat all-diffs)" ]; then
            echo "No diffs found, exiting"
            exit 0
          fi

          find diffs -type f -name "flake.lock" -exec cp {} flake.lock \;
          if [ -z "$(git diff --exit-code flake.lock)" ]; then
            echo "No flake.lock changes found, exiting"
            exit 0
          fi

          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

          git fetch
          git checkout origin/master
          git branch -D $BRANCH_NAME || true
          git checkout -b $BRANCH_NAME
          git add flake.lock
          git commit -m "chore(deps): update flake lock"
          git push --force-with-lease origin $BRANCH_NAME

          echo "Diffs:" > body
          echo "\`\`\`" >> body
          cat all-diffs >> body
          echo "\`\`\`" >> body
          cat body

          gh pr create --title "Flake update" --body-file body --base master --head "$BRANCH_NAME" --reviewer appaquet
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
